@use "./tokens" as *;

@use "themes/light";
@use "themes/dark";


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
  background: var(--bg);
  color: var(--text-primary);
}

body {
  overflow-x: hidden;

  .container-children {
    padding: $space-3;

  }
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}