.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--bg);
  color: var(--color-on-primary);
  gap: 1rem;
  border-bottom: 1px solid var(--border);


  h1 {
    margin: 0;
  }

  span {
    font-size: 0.7rem;
    color: var(--text-secondary);
  }
}

.logo {
  flex: 1
}

.menuButton {
  background: none;
  border: none;
  color: var(--color-on-primary);
  font-size: 1.5rem;
  cursor: pointer;
}